

.brand {
    @apply flex items-center p-3 gap-2 w-fit;


    .logo {
        @apply fill-[var(--primary-color)] w-8;
    }

    .name {
        @apply text-[var(--primary-color)] font-bold text-3xl;
    }
}



.gradient-container {
    @apply flex fixed w-full h-full overflow-hidden -z-10;

    & .bg-gradient {
        @apply absolute top-24 left-0 mix-blend-overlay rounded-full opacity-90 h-[42em] w-[50em];
        filter: blur(70px);
    
        &.g1 {
            @apply bg-[#ff8858] left-[1%] xl:left-[4%] animate-blob;
            animation-delay: 2s;

        }
    
        &.g2 {
            @apply bg-[#459d6e] left-[36%] xl:left-[30%] animate-blob;

        }
    
        &.g3 {
            @apply bg-[#f15c7f] left-[60%] xl:left-[57%] animate-blob;
            animation-delay: 4s;

    
        }
    
    }
}



