@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background: linear-gradient(to bottom, #D6E5FB, #A9C7E8, whitesmoke);
  height: 100vh;
  font-family: "Zilla Slab", serif;
    text-align: right;
}

.divTable {
  display: flex;
  justify-content: center;
}

.table {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 1350px;
    margin-top: 30px;
    background-color: white;
    border-collapse: collapse;
  }

  .table > li {
    display: flex;
    justify-content:space-between;
    padding: 3px 8px;
    border-bottom: 5px solid #dee2e6;
  }
  
  .thead-dark  {
    font-weight: bold;
    color: #fff;
    background-color: #388cb9;
  }
  
  .th {
    font-weight: bold;
  }
  
.fa-regular{
  cursor: pointer;
  background-color: transparent;
}

.fa-regular fa-pen-to-square {
 cursor: pointer;
 background-color: transparent;

}

.fa-regular fa-trash-can {
  cursor: pointer;
  background-color: transparent;

}


.btnSearch {
  position: relative;
  left: -40px;
  margin: 10px;
  background-color: 	#388cb9;
  justify-content:flex-end;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
:focus,
  &:hover {
      background: darken(#5f87b6,7%);
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
}



}
