<!-- NavBar-->
<router-outlet></router-outlet>
  
<!-- Seção Pesquisa e Adicionar Usuário -->
    <input [(ngModel)]="searchTerm" placeholder="Nome">
    <button class="btn btn-primary" (click)="onSearch()">Pesquisar</button>
    <button class="btn btn-primary"> + Adicionar Novo usuário </button>
  

    <ul class="table">
      <li class="thead-dark">
        <span>#</span>
        <span>Nome</span>
        <span>Email</span>
        <span></span>
      </li>
      <li *ngFor="let user of users">
        <th>{{ user.id }}</th>
        <span>{{ user.name }}</span>
        <span>{{ user.email }}</span>
      </li>
    </ul>
    

  