<body>
<!-- NavBar-->
<app-user-management> </app-user-management>

<!-- Seção Pesquisa e Adicionar Usuário -->
<div>
    <input [(ngModel)]="searchTerm" placeholder="Nome" class="inputPesquisaNome">
    <button class="btnSearch" (click)="onSearch()">Pesquisar</button>
  <app-button> </app-button>
  </div>

    <ul class="table">
      <li class="thead-dark">
        <span>ID</span>
        <span>Nome</span>
        <span>Email</span>
        <span></span>
      </li>
      <li *ngFor="let user of users" >
        <th>{{ user.id }}</th>
        <span>{{ user.name }}</span>
        <span>{{ user.email }}</span>
        <span>
          <i class="fa-regular fa-square-plus"></i>
          <i class= "fa-regular fa-pen-to-square" (click)="handleButtonClick('Editar', user)"></i>
          <i class="fa-regular fa-trash-can" (click)="handleButtonClick('Excluir', user)"></i>
        </span>
      </li>
    </ul>
  </body>