@mixin cardBlock {
    @apply shadow-md p-5 bg-white/50 rounded-2xl border-2 border-black/10;
    backdrop-filter: blur(4px), hue-rotate(0deg);
    transition: background-color 2s ease, backdrop-filter 0.4s ease;


    &:hover {
        @apply bg-[#fff1e5]/65;
        backdrop-filter: hue-rotate(-40deg);
    }
}


@mixin tableBlock {
    @include cardBlock;
    @apply p-0 bg-white/70;
    backdrop-filter: None;
}